{% extends 'layout.html'%}
{% block title %}
Search Borrowers
{% endblock title %}

{% block content %}


<div class="row mt-5">
    <div class="col-md-6 ">
        <h1>Borrowers</h1>
    </div>

    <div class="col-md-6 ">
        <form method="POST" action="">
            <div class="input-group">

                {{ form.csrf_token }}
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon3">Search Borrower by</span>
                </div>
                {{ form.query }}
                <div class="input-group-append">
                    <button class="btn btn-info" type="input"><i class="bi bi-search"></i></button>
                </div>

            </div>
        </form>
        {% if form.query.errors %}
        
        <p class="text-danger">{% for error in form.query.errors %}{{ error }}{% endfor %}</p>

        {% endif %}
    </div>

</div>

<div class="row">
    <div class="col-md-12">

        <div class="text-right">
            {% if is_post and borrowers|length > 0 %}
            <a href="{{ url_for( 'admin_borrowers') }}">Show all</a>
            {% endif %}
        </div>
    </div>
</div>




{% if borrowers|length > 0 %}
<div class="row mt-5">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Card number</th>
                <th scope="col">Books on loan</th>
                <th scope="col">Address</th>
                <th scope="col">Phone</th>
            </tr>
        </thead>
        <tbody>
            {% for borrower in borrowers %}
            <tr scope="row">
                <td>
                    <a href="{{ url_for( 'admin_borrower', card_no=borrower.CardNo ) }}">{{ borrower["Name"] }}</a>
                </td>
                <td>{{ borrower["CardNo"] }}</td>
                <td>{{ borrower["Count_Books_On_Loan"] }}</td>
                <td>{{ borrower["Address"] }}</td>
                <td>{{ borrower["Phone"] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>





{% endif %}

{% endblock content %}



{% block bottom %}
{% if borrowers|length == 0 %}
<h2>Nothing found</h2>
<a class="btn btn-primary" href="{{ url_for( 'admin_borrowers') }}  ">Show all borrowers</a>
{% endif %}
{% endblock bottom %}